

* {
    outline:none;
}

#codeOutput {
    font-family: 'Source Code Pro', monospace;
}

.btn {
    @apply  h-10 px-6 font-semibold rounded-md transition;
}

.smart-modal {
    @apply bg-white text-black dark:text-white dark:bg-slate-800
    absolute top-10 left-10 right-10 bottom-10 overflow-auto p-5
    border border-slate-300 rounded-md transition-opacity;
}

.smart-modal-overlay {
    @apply bg-white dark:bg-slate-700 top-0 left-0 right-0 bottom-0 fixed dark:bg-opacity-75 bg-opacity-75 transition-opacity;
}

.footer>p {
    @apply text-sm text-slate-600 dark:text-zinc-300
}

.output-block {
    @apply border-none overflow-auto
      w-1/2 rounded-md bg-slate-200
     dark:bg-slate-900 p-0;
     ;
}

.search-input {
    @apply focus:ring-2 mb-2 mt-2
    focus:ring-blue-500 dark:focus:bg-slate-800 
    focus:bg-slate-100
    focus:outline-none appearance-none w-full text-sm leading-6
     text-slate-900 placeholder-slate-400  
     dark:border-none border border-slate-100
    rounded-md py-2 ring-0 
     dark:bg-slate-700 dark:text-white 
    shadow-sm;
}

.codemirror-wrapper {
    @apply h-full flex flex-col rounded-t-md p-0 overflow-auto border dark:border-none;
}

.bottom-label {
    @apply dark:bg-sky-700 m-0 p-2 
    text-center font-semibold
  bg-sky-500 rounded-b-md text-white
}

.flex-spacing-between {
    @apply flex flex-row justify-between
}

.ReactModal__Content {
    opacity: 0;
    transform: scale(0.1);
    transition: all 300ms ease-in-out;
}

.ReactModal__Content--after-open{
    opacity: 1;
    transform: scale(1)
}

.ReactModal__Content--before-close{
    opacity: 0;
    transform:scale(0.1)
}

.ReactModal__Overlay {
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.cm-wrap { height: 100% }
.cm-scroller { overflow: auto }